NEXT_PUBLIC_CONTENT_API_URL=https://raw.githubusercontent.com/rasoolzia/developer-interview-handbook/refs/heads/main/public/api
NEXT_PUBLIC_SITE_URL=https://interview.mrzd.ir
NEXT_PUBLIC_GITHUB_URL=https://github.com/rasoolzia/developer-interview-handbook